.col-lg-5{
	height: 600px;
	background-color: #cfc7cd;
	font-family:  Comic Sans MS;
	color: black;
	border-radius: 25px;
	box-shadow: 0 0 5px 4px;
}
.col-lg-2{
	height: 300px;
	background-color: #cfc7cd;
	border-radius: 25px;
	box-shadow: 0 0 5px 4px;
}
a:link{
	color: #000000;
}
a:visited{
	color: #4a0505;
}
a:hover{
	color: #afc231;
}
a:active{
	color: #040c54;
}
.ssylka{
	color: #000000;
	font-size: 30px;
}
.ssylka{
	text-align: center;
}